// Variables

// Text Colors
$gen_text: #292929;
$spl_text: #020038;

// Inceritance
body {
  font-family: "Raleway", sans-serif;
}

.custom-nav-container {
  height: 70px;
  .custom-nav {
    text-transform: uppercase;
    .nav-item {
      padding: 0 10px 0 10px;
      transition: all ease-in-out 0.6s;
      font-weight: 600;
    }
    .nav-item:hover {
      font-size: 20px;
      transition: all ease-in-out 0.6s;
    }
  }
}

.home-banner {
  background-image: url(../img/home-banner.jpg);
  position: relative;
  width: 100%;
  height: auto;

  .home-title {
    padding: 210px 0 210px 0;
    width: 100%;
    background-color: #132e16ba;
  }
  h1 {
    color: #ffffff;
    font-size: 100px;
    font-weight: 600;
  }
  .home-subtitle {
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }
}

.destinations-container {
  .destination-item {
    background: #ececec;
    max-width: 32% !important;
    border: .5px solid #979797;
    border-radius: 5px;
    .destination-heading {
      font-weight: 400;
      padding: 1rem 0 .5rem 0;
    }
    .destination-image {
      width: 100%;
    }
  }
}
